
*{
    padding: 0;
    margin: 0;
    font-family: helvetica;
    color: #333;
    box-sizing: border-box;
}
body{
    background-image: url("../img/bg.jpg");
    background-color: #102f5e;
    background-position: center;
    background-size: cover;
}
button{
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
}